.CFUserTextEncoding
.Trash/
.aliases
.atom/
.aws/
.bash_history
.bash_profile
.config/
.dropbox/
.gem/
.gitconfig
.gnupg/
.heroku/
.hgignore_global
.history
.irb-history
.lesshst
.netrc
.node-gyp/
.node_repl_history
.npm/
.npmrc
.pry_history
.rvm/
.ssh/
.subversion/
.zshenv
Applications/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
fa/
forks/
j/
personal/
