.aliases_for_projects.sh
.atom/
.aws/
.bash_history
.bash_profile
.cache/
.CFUserTextEncoding
.cloudup.json
.config/
.dropbox/
.electron/
.flickr-config
.gem/
.gh.json
.gitconfig
.gnupg/
.greenkeeperrc
.guard_history
.heroku/
.hgignore_global
.history
.ied_cache/
.irb-history
.lesshst
.local-npm/
.local/
.lolcommits/
.mapbox-studio/
.netrc
.node_repl_history
.node-gyp/
.npm/
.npmrc
.npmrcs/
.oracle_jre_usage/
.pm2/
.pry_history
.remind-me/
.rnd
.rvm/
.secrets
.ssh/
.subversion/
.Trash/
.travis
.trymodule/
.wakatime.db
.wakatime.log
.wine
.Xauthority
.zshenv
Applications/
atom
clients/
Desktop/
Documents/
Downloads/
Dropbox/
electron-api-demos.pvk
electron-api-demos.spc
electron/
fa/
forks/
github
Google Drive/
j/
Library/
Movies/
Music/
Pictures/
Public/
zeke/
